.popUp{
    height: 100vh;
    width:100%;
    background-color: #00000050;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 57%);
    overflow-y: scroll;
    z-index: 1;
}

.popup-box{
   display: flex;
   align-items: center;
   border-bottom: 1px solid gray;
   background-color: #fff;
   margin:10px;
   padding:10px;
   border-radius: 3px;
   max-height: 70vh;
   overflow:hidden;
}

.popup-search{
    display: flex;
    align-items: center;
    color: gray;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border:none;
}

.popupInput{
    border:none;
    padding:5px;
    width: 80%;
    border:none;
    font-size: 14px;
}

.close-icon{
    display: flex;
    justify-content: end;
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.popUp > p{
    color: red;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
}