.createTweet{
    padding: 0 20px;
}


.topFeed{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;  
    font-size: 14px;
    font-weight: lighter;   
}

.topFeed > h2{
    margin-top: 0;
}

.topFeed > svg {
    width: 5%;
    color: var(--twitter-color)
}

.tweetBox{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--twitter-background);
    padding: 0 0 15px 0;
   
}

.tweetBox > .sidebarphoto > img {
    width: 3.5rem;
    height: 3.5rem;
}

.tweetField{
    padding-left: 5px;
    padding-bottom: 50px;
    padding-top:50px;


}

.tweetField > form > input{
    border: none;
    outline: none;
    font-size: 1.0rem;
    font-weight: 200; 
    flex: 1;
    /* margin-left: 20px; */
}

.tweetEmoji > svg {
    width: 5%;
    margin-right: 15px;
}

.tweetFieldbtns{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

}


.tweetEmoji{
    color: var(--twitter-color);
    
}

.gifBtn{
    background: none;
    border: none;
}

.tweetSubmitBtn{
    background-color: var(--twitter-color);
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 7px 20px;
    font-weight: 700;
    font: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }